<!DOCTYPE html>
<html>
<head>
    <title>FlatMates</title>
</head>
<body>
    <header>
        <div class="welcome">
            {% if 'user_id' in session %}
            <h1>Welcome, {{ session['user_id'] }}!</h1>
            {% else %}
            <h1>Welcome to FlatMates</h1>
            {% endif %}
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('landing') }}">Home</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
